.header{
  margin:80px 0 80px 60px;
}
@media (max-width: 480px) {
  .header{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:20px 10px 10px;
  }
}
@media (max-width:1024px){
  body{
    text-align: center;
  }

}
.content{
  text-align: center;
  margin: 20px 30px 45px;
}